@import url('https://fonts.googleapis.com/css?family=Abril+Fatface%7CRaleway&display=swap');

h1 {
	font-family: "Abril Fatface", serif;
	font-weight: normal;
	margin:0;
	color: white;
	font-size: 60px;
	padding: 15px;
}

button {
	background-color: white;
	border-radius:8px;
	border-style: none;
	font-size: 20px;
	padding: 15px;
	color: #6bb0fd;
	font-family: "Raleway", sans-serif;
	transition: all .2s ease-in-out;
}

button:hover{
	background-color: #fdbead;
	color: white;
	cursor: pointer;
	transform: scale(1.2);
}

#landing-content {
	position: absolute;
  	top: 350px;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
}

header{
	padding: 0;
	margin:0;
	background-image: url(color.jpg);
	background-position: center;
	background-size: cover;
	height: 700px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left:20%;
	margin-right:20%;
	padding: 25px;
	text-align: center;
}


body{
	margin:0;
	padding: 0;
	font-family: "Raleway", sans-serif;
}

a {
	font-size: 18px;
	padding: 8px;
	text-decoration: none;
	color:#6bb0fd;
	transition: all .2s ease-in-out
}
a:hover { 
	transform: scale(1.2); 
}

footer{
	background-color: #6bb0fd;
	padding:10px;
	margin:0;
	text-align: center;
	color:white;
}

@media only screen and (max-width: 600px) {
	main {
		grid-template-columns: 1fr;
	}
}

