@import url('https://fonts.googleapis.com/css?family=Comfortaa|Playfair+Display&display=swap');
* {
    box-sizing: border-box;
}


body{
	background-color: #fafffd;
	font-family: 'Comfortaa', sans-serif;
	color: black;
	margin: 0;
	text-align: center;
}



header{

	display: flex;
	align-items: flex-start;
	padding: 15px;
	background-color: #fafffd;
}

.logo{
	width: 30%;
	padding-top: 5px;
	animation: slide-in ease-in-out 1s;
}

@keyframes slide-in{
	from{
		margin-left: -500px;
	}
	to{
		margin-left: 0;
	}
}
img{
	max-width: 100%;
}
nav{
	text-align: right;
	width: 70%;
}
nav ul button:hover{
	cursor: pointer;
}

nav button #menuLabel{
	font-size: 1.2rem;
}

nav ul {
	list-style-type: none;
	padding:0;
	margin:0;
}


nav ul.hide, nav button #hamburger.hide, nav button #close.hide{display:none;}


#menuButton{
	background-color: transparent;
	border-style: none;
	font-size: 150%;
	padding-bottom: 5px;
	cursor: pointer;
	color: #d16666;
}


nav ul{
	padding:0;
}
nav ul li{
	display: block;
	padding-top:15px;
}
nav ul li a{
	text-decoration: none;
	color: #2c4251;
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;

}
/* make an element before each li, but make it invisable, and since the li is realative, 
make this object absolute, so it is at the bottom of the li*/
nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d16666;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

/* show it and grow it when we hover*/
nav ul li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}


footer{
	background-color: #d16666;
	padding: 15px;
	color: #fafffd;
}

footer a{
	color: black;
}


main section{
	padding: 15px;
	background-color: white;
	width: 45%;
	margin:auto;
}

h1{
	margin: 0;
	padding-top: 10px;
	color: white;
	text-shadow: 1px 1px 5px black;
}
h2{
	color: white;
	font-size: 110%;
	font-weight: normal;
	font-style: italic;
	margin-top: 0;
	text-shadow: 1px 1px 5px black;
}

main{
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	min-height: 600px;
}

button, input[type="button"]{
	background-color: #d16666;
	color: white;
	font-family: "Comfortaa", serif;
	padding: 10px 5px;
	border: none;
	transition: all .5s ease-in-out;
	margin: 3px;
}

button:hover, input[type="button"]:hover{
	transform: scale(1.1);
	cursor: pointer;
}

#timerDisplay{
	font-size: 280%;
}

input[type="text"]{
	font-size: 100%;
	border-style: none;
	border-bottom: solid black 2px;
	width: 100%;
	font-family: "Comfortaa", sans-serif;
}

#tasks{
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-row-gap: 8px;
}
p{
	margin:0;
	padding-top:5px;
}
#tasks p{
	text-align: left;
}

#output{
	background-color: grey;
}
